# 编译后的文件
/dist

/.hbuilderx
/.vscode

# Node.js 的 npm 缓存
/node_modules
pnpm-lock.yaml
# 编译缓存
/.cache

# 编译后的微信小程序代码
/mp-weixin/

# 编译后的支付宝小程序代码
/mp-alipay/

# 编译后的百度小程序代码
/mp-baidu/

# 编译后的字节跳动小程序代码
/mp-toutiao/

# 编译后的快应用代码
/mp-kuaipan/

# 编译后的 H5 代码
/mp-qq/

# 日志文件
.log

# Babel 编译缓存
.babel-cache

# ESLint 缓存
.eslintcache

# IDE 和编辑器相关
.idea
.project
.classpath
*.launch
*.sublime-workspace
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.njsdebug

# VS Code 相关
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# hbuilderx 相关
'.hbuilderx/app.config.json'
'.hbuilderx/project.config.json'
'.hbuilderx/tasks.json'
'.hbuilderx/*

# Webpack 缓存
.cache
*.server.js

# npm/yarn 锁定文件
package-lock.json
yarn.lock

# 环境变量文件
.env
.env.local
.env.*.local

# 其他可能需要忽略的文件或目录
*.swp
*.swo
*.swn
*.bak
*.tmp
*.log

# uni-app 相关
hbuilder.log
uni_modules/
static/